{{#each erros}}
<div class="fixed-top mt-5 container fadeOut animated faster delay-5s">
    <div class="alert alert-danger mt-5 bounceInDown animated " role="alert">{{texto}}</div>
</div>
{{else}}
{{/each}}
<style>
    .card {
        line-height: 1px;
    }

    .c-cinza {
        color: #B2B2B2;

    }

    .c-orange {
        color: #FE6400;
    }

    .direita {
        margin-right: 10px;
    }

    .weight-700 {
        font-weight: 700;
    }

    .premiacao {
        width: 100%;
        height: 3rem;
        background: #1c1c1c !important;
    }

    .download:hover {
        color: #FE6400;
    }

    .btn-rivals {
        background-color: #FE6400;
        border: #FE6400 1px solid;
    }

    .btn-rivals:hover {
        border: #FE6400 1px solid;
        background-color: #3a3a3a;

    }

    .hover-la {
        /*transition: all 0.5s;*/
    }

    .hover-la:hover {
        color: #FE6400;
    }
</style>
<div class="container-fluid" id="conteudoPagina">

    <div class="border-title">
        <h7 class="text-light pl-1 ml-2" id="home">Home / Tournament</h7>
        <h1 class="text-light pl-1 ml-2">WELCOME
            {{#if user}}{{#each user}}{{nome}}{{else}}{{/each}}{{else}}USER{{/if}}!</h1>
    </div>
    <div class="row mt-3" style="height:80vh;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
        <div class="col-12 col-md-9 col-lg-9 col-sm-12 text-light"
            style="font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            {{#each torneios}}
            <script>
                var teste{{{ _id }}} = `{{{_id}}}`;
                $(`#tour_${teste{{{ _id }}} }`).ready(() => {
                    var id{{{_id}}} = `#time_${ teste{{{ _id }}} }`;
                    var $clock{{{_id}}} = $(`${ id{{{ _id }}} }`),
                        eventTime = moment(`${ $(`#tour_${teste{{{ _id }}} }`).val()} `, 'YYYY-MM-DD HH:mm:ss').unix(),
                    currentTime = moment().unix(),
                    diffTime = eventTime - currentTime,
                    duration = moment.duration(diffTime * 1000, 'milliseconds'),
                    interval = 1000;

                // if time to countdown
                if (diffTime > 0) {
                    // Show clock
                    // $clock.show();
                    var calc{{{ _id }}} = setInterval(function () {


                    duration = moment.duration(duration.asMilliseconds() - interval, 'milliseconds');
                    var d = moment.duration(duration).days(),
                        h = moment.duration(duration).hours(),
                        m = moment.duration(duration).minutes(),
                        s = moment.duration(duration).seconds();

                    d = $.trim(d).length === 1 ? '0' + d : d;
                    h = $.trim(h).length === 1 ? '0' + h : h;
                    m = $.trim(m).length === 1 ? '0' + m : m;
                    s = $.trim(s).length === 1 ? '0' + s : s;
                    // show how many hours, minutes and seconds are left
                    var completo = `${d} D ${h} H ${m} M ${s} S`
                    if (d == `00`) {
                        completo = completo.replace(`${d} D`, ``);
                    }
                    if (h == `00`) {
                        completo = completo.replace(`${h} H`, ``);
                    }
                    if (m == `00`) {
                        completo = completo.replace(`${m} M`, ``);
                    }
                    if (s == `00`) {
                        completo = completo.replace(`${s} S`, ``);
                    }
                    if (s == `00` && m == `00` && h == `00` && d == `00`) {
                        completo = `Começou!`;
                        clearInterval(calc{{{ _id }}});
                        let valor = `#cadastro{{{_id}}}`
                        $(`${valor}`).addClass(`disabled`)
                        socket.emit(`completarTorneio`, { _id: `{{{_id}}}` })
                    }

                $clock{{{_id}}}.text(completo)

                        }, interval);

                    } else {
                    var completo = `Começou!`
                    $clock{{{_id}}}.text(completo)
                    var valor = `#cadastro{{{_id}}}`
                    $(`${valor}`).addClass(`disabled`);
                    socket.emit(`completarTorneio`, { _id: `{{{_id}}}` })

                }
                })

            </script>
            <div class="card pb-n5 mb-3 mt-2 col-12">
                <div class="row">
                    <div class="container-fluid col-11 row">
                        <div class="row  col-11">
                            <div class="ml-n2">
                                <table class="table mt-3">
                                    <tbody class="border-0 ">
                                        <tr class="border-0 ">
                                            <td class="border-0 c-cinza text-center pl-3 font-play">COMEÇA EM</td>
                                            <td class="border-0 text-light font-play">{{nomeTorneio}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody class="border-0">
                                        <tr class="border-0 pr-2">
                                            <input type="disaled" class="d-none" id="tour_{{_id}}"
                                                value="{{dataInicio}} {{hotaInicio}}:00">
                                            <td class="border-0 text-light text-center font-play" id="time_{{_id}}">
                                            </td>
                                            <td class="border-0 c-orange font-play">{{criadora}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="row my-auto d-flex justify-content-end  ml-1 c-cinza ">
                                <h6 style="font-size: 2vh;" class="font-play small">{{padraoGame}}</h6>
                                <h6 style="font-size: 2vh;" class="ml-3 small font-play">Torneio {{tipoJogo}}</h6>
                                <h6 style="font-size: 2vh;" class="ml-3 font-play small c-orange"> Entrada: <b
                                        class="">Rcoin
                                        {{entrada}}</b></h6>

                            </div>


                        </div>
                    </div>
                    <div style="font-size: 2rem;" class="d-flex justify-content-end col-1 my-auto c-cinza ">
                        <div class="">
                            <i class="pointer hover-la fas fa-angle-right" onclick="aparecerBanner('{{_id}}')"></i>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            {{/each}}

        </div>

        <div class="col-12 col-md-2 col-lg-2 col-sm-12 text-light " id="friendList">
            {{#each torneios}}

            <div class="card font-play cardsInfosTour d-none" id="{{_id}}card"
                style="width: 39vh;height:80vh;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                <img class="card-img-top" src="data:image/png;base64,{{fotoTorneio}}" alt="Card image cap">
                <div class="font-play mx-auto row container-fluid ">
                    <h5 class="card-title weight-700 ml-2 font-play">EILAT WORLDS E-SPORTS</h5>
                    <div class="col-6">
                        <p class="card-text weight-700 text-left"
                            style="line-height: 3vh; color: #7C7C7C; font-size:15px !important">Equipes
                            Registradas</p>
                    </div>
                    <div class="card-text col-6 text-center" style="margin-top: 1.5vh">
                        <p>
                            00/{{qtdeParticipantes}}
                        </p>
                    </div>

                    <div class="col-6">
                        <p class="card-text weight-700 text-left"
                            style="line-height: 3vh; color: #7C7C7C; font-size:15px !important">Modo de Jogo</p>
                    </div>
                    <div class="card-text col-6 text-center">
                        <p>
                            {{tipoJogo}}
                        </p>
                    </div>

                    <div class="col-6">
                        <p class="card-text weight-700 text-left"
                            style="line-height: 3vh; color: #7C7C7C; font-size:15px !important">Mapas</p>
                    </div>
                    <div class="card-text col-6" style="margin-top: 1vh; line-height: 2vh; font-size: 15px">
                        <p class="ml-3 text-left text-lowercase">
                            {{mapas}}
                        </p>
                    </div>

                    <div class="col-6">
                        <p class="card-text weight-700 text-left"
                            style="line-height: 3vh; color: #7C7C7C; font-size:15px !important">Servidor</p>
                    </div>
                    <div class="card-text col-6 text-center">
                        <p>
                            Brasil
                        </p>
                    </div>

                    <div class="col-12  premiacao my-2 d-flex justify-content-center">
                        <p class=" text-center weight-700 " style="font-size: 20; line-height: 2vh; padding-top: 1.5vh">
                            Premiação Total: Rcoins {{premioTotal}}
                        </p>
                    </div>

                    <div class="col-12 ">
                        <p class="text-left weight-700"
                            style="line-height: 3vh; color: #7C7C7C; font-size:15px !important">
                            Requisitos para competir
                        </p>
                    </div>

                    <div class="col-6">
                        <p class="card-text weight-700 text-left"
                            style="line-height: 3vh; color: #7C7C7C; font-size:15px !important">Nível de Habilidade</p>
                    </div>
                    <div class="card-text col-6 text-center" style="margin-top: 1.5vh">
                        <p class="">
                            <span class="lvl p-1" style="border-color:green;color:green;">0{{minLevel}}</span> - <span
                                class="lvl p-1">0{{maxLevel}}</span>
                        </p>
                    </div>

                    <div class="col-6">
                        <p class="card-text weight-700 text-left"
                            style="line-height: 2vh; color: #7C7C7C; font-size:15px !important">Cronograma</p>
                    </div>
                    <div class="card-text col-6 text-justify" style="line-height: 2vh">
                        <p class="text-justify">
                            Data:<br> <b class="c-orange" id="dataBanner">{{dataInicio}}</b>
                            Hora:<br><b class="c-orange" id="horaBanner">{{hotaInicio}}</b>
                        </p>
                    </div>




                    <div class="col-12 mb-2" style="width: 100%;">
                        <a href="#" class="btn btn-secondary btn-rivals mx-auto " id="cadastro{{_id}}"
                            style="width: 100%;">REGISTRAR EQUIPE</a>
                    </div>
                </div>
            </div>
            {{else}}
            {{/each}}
        </div>

        {{#each torneios}}
        {{else}}
        <div class="col-12">
            <h3 class="font-play text-center text-light">Desculpe, mas por enquanto os torneios acabaram :(</h3> <br>
            <h3 class="font-play text-center text-light">Em breve teremos mais para sua jornada 😎</h3>
        </div>
        {{/each}}
    </div>
</div>

{{!-- <script src="/js/countdown.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/js/moment.js"></script>

<script>
    function aparecerBanner(padraoId) {
        if ($(`#${padraoId}card`).hasClass(`d-none`)) {

            $(`.cardsInfosTour `).addClass(`d-none`)

            $(`#${padraoId}card`).removeClass(`d-none`);



        } else {
            $(`#${padraoId}card`).addClass(`d-none`)
        }
    }

    $(document).ready(() => {
        var dataanner = $(`#dataBanner`).text();
        dataanner = dataanner.split(`-`);
        $(`#dataBanner`).text(`${dataanner[2]}/${dataanner[1]}/${dataanner[0]} `);






        let height = $(window).height();
        let width = $(window).width();
        console.log(height);

        if (width >= 1200) {
            console.log("É maior ou igual a 1200")
        }
        else if (width >= 992) {
            console.log("É maior ou igual a 992")
        }
        else if (width >= 768) {
            console.log("É maior ou igual a 768")
        }
        else if (width >= 576) {
            console.log("É maior ou igual a 576")
        }
    })
</script>