{{#each erros}}
<div class="fixed-top mt-5 container fadeOut animated faster delay-5s">
    <div class="alert alert-danger mt-5 bounceInDown animated " role="alert">{{texto}}</div>
</div>
{{else}}
{{/each}}
<div class="container-fluid" id="conteudoPagina">

    <div class="border-title">
        <h7 class="text-light pl-1 ml-2" id="home">Play / Equipe</h7>
        <h1 class="text-light pl-1 ml-2">WELCOME
            {{#if user}}{{#each user}}{{nome}}{{else}}{{/each}}{{else}}USER{{/if}}!</h1>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 col-lg-2 col-sm-12">


        </div>
    </div>