{{#each erros}}
<div class="fixed-top mt-5 container fadeOut animated faster delay-5s">
    <div class="alert alert-danger mt-5 bounceInDown animated " role="alert">{{texto}}</div>
</div>
{{else}}
{{/each}}

<div class="container-fluid" id="conteudoPagina">

    <div class="border-title">
        <h7 class="text-light pl-1 ml-2" id="home">Home / Tournament</h7>
        <h1 class="text-light pl-1 ml-2">WELCOME
            {{#if user}}{{#each user}}{{nome}}{{else}}{{/each}}{{else}}USER{{/if}}!</h1>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 col-lg-2 col-sm-12">
            <h6 class="text-light">Matchs Competitives</h6>
            <div class="card" style="height:31vh;overflow:auto;">
                <ul class="list-group list-group-flush text-light">
                    <li class=" background-card mx-auto"> 
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-8 col-sm-12 text-light mt-2"
            style="height:80vh;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>


        </div>

        <div class="col-12 col-md-2 col-lg-2 col-sm-12" id="friendList">
            {{#if user}}
            <div class="d-flex flex-row">
                <h6 class="text-light ">Friends List </h6>
                <h6 class=" mx-1 text-light ">
                    <svg data-toggle="modal" data-target="#modalAmigos" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                        class="ml-1 bi bi-plus-circle pointer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd"
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </h6>
            </div>
            <div class="card" style="height:31vh;overflow:auto;">
                <ul class="list-group list-group-flush text-light">
                    {{#each listaAmigos}}
                    <li class=" background-card ">
                        <div class="container-amigos ml-2">
                            <img src="/user_pictures_padrao/perfil_.png" alt="" class="img-fluid img-amigos mr-1">
                            <span class="texto-amigos ">{{nome}} </span> <span class="texto-amigos"
                                style="margin-top: 2.5vh;">online</span>
                        </div>
                    </li>
                    {{else}}


                    {{/each}}

                </ul>
            </div>
            {{else}}
            {{/if}}
        </div>

    </div>
</div>

{{!-- <form class="text-center " action="/" method="POST"> --}}
<div class="my-4 modal fade" id="modalAmigos" aria-labelledby="modalAmigos" aria-hidden="true" tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div id="regPtUm" style="background-color: #1A1A1A;" class="modal-content form-elegant bg-form">
            <div class=" text-center">
                {{!-- <a class="modal-title w-100 dark-grey-text font-weight-bold" id="myModalLabel" href="/"><img
                            src="/images/logo-menu/pt-Logo1.png" class="logo-form mx-auto img-fluid"
                            style="width: 10em;" alt=""></a> --}}
                <p class="modal-title position-absolute text-light mt-4 ml-3">Adicionar amigo:</p>
                <button type="button" class="close text-white mr-3 mt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <input type="text" style="background: #000000;border: #1A1A1A;color: #666666;" id="addAmigo"
                    class="form-control col-7 ml-2" placeholder="E-mail ou Rivals ID">
                {{!-- <input type="text" style="background: #000000;border: #1A1A1A;color: #666666;" name="email"
                    id="addAmigo" class="form-control mb-4" placeholder="E-mail ou Rivals ID"> --}}
                <button class="btn btn-login btn-block ml-2 col-4 botaoPadrao" id="btnConvidar"
                    type="submit">Convidar</button>
            </div>

        </div>
    </div>
</div>
{{!-- </form> --}}