{{#each erros}}
<div class="fixed-top mt-5 container fadeOut animated faster delay-5s">
    <div class="alert alert-danger mt-5 bounceInDown animated " role="alert">{{texto}}</div>
</div>
{{else}}
{{/each}}

<div class="container-fluid" id="conteudoPagina">

    <div class="border-title">
        <h7 class="text-light pl-1 ml-2" id="home">Home / Tournament</h7>
        <h1 class="text-light pl-1 ml-2">WELCOME
            {{#if user}}{{#each user}}{{nome}}{{else}}{{/each}}{{else}}USER{{/if}}!</h1>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 col-lg-2 col-sm-12">
            <h6 class="text-light">Matchs Competitives</h6>
            <div class="card" style="height:31vh;overflow:auto;">
                <ul class="list-group list-group-flush text-light">
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                    <li class=" background-card mx-auto">
                        <div class="areaTime"><img src="/images/icones/icons-time/INTZ.png"
                                class="icone-time img-fluid mr-1" alt=""> VS <img
                                src="/images/icones/icons-time/INTZ.png" class="ml-1 icone-time img-fluid" alt=""><span
                                class="text-danger rec-cards">• </span><span class="text-danger">REC</span></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-8 col-sm-12 text-light mt-2"
            style="height:80vh;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
            <div class="card mb-3 mt-2">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>


        </div>

        <div class="col-12 col-md-2 col-lg-2 col-sm-12" id="friendList">
            <h6 class="text-light">Friend List</h6>
            <div class="card" style="height:31vh;overflow:auto;">
                <ul class="list-group list-group-flush text-light">
                    {{#each listaAmigos}}
                    <li class=" background-card ">
                        <div class="container-amigos ml-2">
                            <img src="/user_pictures_padrao/perfil_.png" alt="" class="img-fluid img-amigos mr-1">
                            <span class="texto-amigos ">{{nome}} </span> <span class="texto-amigos"
                                style="margin-top: 2.5vh;">online</span>
                        </div>
                    </li>
                    {{else}}

                    
                    {{/each}}

                </ul>
            </div>
        </div>

    </div>
</div>